.dblCheckComplete {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8fr;
}

.dblCheckMark {
  height: 1.5rem;
  margin-left: 0.75rem;
}

.complete {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  color: #8f8f8f;
  text-align: left;
}
