.container {
  max-width: 36rem;
  padding: 1rem;
  margin: 3rem auto 6rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.field {
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  padding-left: 0.75rem;
}

.checklist {
  width: auto;
  height: 2.5rem;
  z-index: 10;
}

.input {
  width: 80%;
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.5rem;
  height: 3.5rem;
  font-size: 2rem;
  padding: 0 0.5rem 0 4rem;
  margin-left: -4rem;
}

.add {
  width: 5rem;
  height: 3.5rem;
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.5rem;
}

.add:hover {
  background-color: #efefef;
}

.complete, .clear {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  color: #8f8f8f;
}

.complete {
  text-align: left;
}

.clear {
  text-align: right;
}

.controls {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5rem;
}

.dblCheckComplete {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8fr;
}

.dblCheckMark {
  height: 1.5rem;
  margin-left: 0.75rem;
}

.list {
  list-style: none;
  padding-left: 0;
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}

.radioBtnEmpty {
  height: 2.5rem;
  padding-right: 1rem;
}

.radioBtnChecked {
  height: 2.25rem;
  margin-left: 0.15rem;
  padding-right: 1.05rem;
}

.text {
  font-size: 1.75rem;
}

.delBtn {
  height: 2rem;
}

.hidden {
  display: none;
}

.statusBar {
  color: #8f8f8f;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 1fr;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.count, .selectedFilter {
  color: #000;
}
