.statusBar {
  color: #8f8f8f;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 1fr;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.count, .selectedFilter {
  color: #000;
}
