.list {
  list-style: none;
  padding-left: 0;
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}

.radioBtnEmpty {
  height: 2.5rem;
  padding-right: 1rem;
}

.radioBtnChecked {
  height: 2.25rem;
  margin-left: 0.15rem;
  padding-right: 1.05rem;
}

.text {
  font-size: 1.75rem;
}

.delBtn {
  height: 2rem;
}

.hidden {
  display: none;
}
